<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI-Based Lesson Summarizer and Quiz Generator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="landing-page">

        <section class="hero">

            <h1>
                ระบบสรุปบทเรียนและ<br>
                สร้างแบบทดสอบอัตโนมัติโดยAI
            </h1>

            <p class="english-title">
                (AI-Based Lesson Summarizer and Quiz Generator)
            </p>

            <a href="/register" class="start-button">
                เริ่มต้นใช้งาน
            </a>

        </section>

    </main>

</body>

</html>