<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <title>เข้าสู่ระบบ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI-Based Lesson Summarizer<br>and Quiz Generator</h1>

    <h2>เข้าสู่ระบบ</h2>

    <form method="POST">

        <label>อีเมล</label>
        <input type="email" name="email" placeholder="name@email.com" required>

        <label>รหัสผ่าน</label>
        <input type="password" name="password" placeholder="รหัสผ่านของคุณ" required>

        <button type="submit">เข้าสู่ระบบ</button>

    </form>

    <p>
        ยังไม่มีบัญชีใช่ไหม?
        <a href="/register">สมัครสมาชิก</a>
    </p>

</div>

</body>
</html>